<div>
  <header id="content-header">
    {{ title}}
   </header>
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget navy-bg">
           <div class="row-fluid">
             <div class="span4">
               <i class="icon icon-search icon-white"></i>
             </div>
             <div class="span8 text-right">
               <span>Users</span>
               <h2 class="font-bold">
                 15
               </h2>
             </div>
           </div>
          </div>
        </div>
        <div class="span3">
                     <div class="widget lazur-bg">
           <div class="row-fluid">
             <div class="span4">
               <i class="icon icon-search icon-white"></i>
             </div>
             <div class="span8 text-right">
               <span>Orders</span>
               <h2 class="font-bold">
                 20
               </h2>
             </div>
           </div>
          </div>
        </div>
        <div class="span3">
                     <div class="widget yellow-bg">
           <div class="row-fluid">
             <div class="span4">
               <i class="icon icon-search icon-white"></i>
             </div>
             <div class="span8 text-right">
               <span>Products</span>
               <h2 class="font-bold">
                 50
               </h2>
             </div>
           </div>
          </div>
        </div>
        <div class="span3">
                     <div class="widget bg-danger">
           <div class="row-fluid">
             <div class="span4">
               <i class="icon icon-search icon-white"></i>
             </div>
             <div class="span8 text-right">
               <span>Visits</span>
               <h2 class="font-bold">
                 80
               </h2>
             </div>
           </div>
          </div>
        </div>
      </div>

   </div>
</div>
