
<div class="row">
  <div class="col-md-12">

    <form action="index.html" method="post" class="form2">
     <fieldset>

        <legend><span class="number">2</span> Add Category</legend>

        <label for="name">Catgory Id:</label>
        <input type="number" id="car_id" name="cat_id">

       <label for="name">Catgory Name:</label>
        <input type="text" id="car_name" name="cat_name">



       </fieldset>

      <button type="submit">Add</button>

     </form>



      </div>
    </div>

